* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jomhuria';

}


main {
    min-height: 100vh;
    background-image: url('../img/Background_00096.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass {
    display: flex;
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(88, 191, 243, 0.7), rgba(80, 156, 222, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);

}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;

}

.circle1 {
    top: 5%;
    right: 5%;
}

.circle2 {
    bottom: 5%;
    left: 5%;
}

.icon {
    height: 2rem;
    width: 2rem;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(171deg) brightness(104%) contrast(108%);
    opacity: 0.8;
}

.mech_logo {
    height: 10rem;
    width: 10rem;
    opacity: 0.8;
}

.l-dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(240, 230, 230, 0.7), rgba(98, 98, 98, 0.1));
    border-radius: 2rem;
}

.r-dashboard {
    display: flex;

    flex-direction: column;
    flex: 3;

}

.form_wrapper {

    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f6f5f6;
    margin: 5rem;
    font-size: 1rem;


}

input {
    font-size: 1.5rem;
}



.home_img_container {
    display: inline-block;
    position: absolute;
    top: 15rem;
    left: 14rem;


}

.home_card {
    position: relative;
    top: 1rem;
    display: flex;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    font-size: 2rem;
    border-radius: 1rem;
    padding: 2.8rem;
    margin: 4rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.302);
    opacity: 0.8;

}



.img_home {
    height: 18rem;
    width: auto;
}

.logo_img {
    height: 10rem;
    width: auto;
    display: flex;
    justify-content: center;
    opacity: 0.8;

}

.link {
    display: flex;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    align-items: center;
    color: white;
    opacity: 1;

}

.link h2 {
    padding: 0rem 1rem;
    font-size: 2rem;
    opacity: 0.8;
    font-weight: 100;
    align-items: center;
    text-align: center;
    justify-content: center;
}



a {
    color: aqua;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    opacity: 0.7;

}

h2 {
    color: rgba(255, 255, 255, 0.952);
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem;
}

th {
    font-size: 3rem;
    padding: 2rem;
}

li {
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
}

/********************** PLAY BUTTON ********************/

.play_btn {
    position: absolute;
    top: 13rem;
    left: 38rem;
    height: 2rem;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 5px;
    margin-bottom: 6rem;
    color: #fcfcfc;
    background: #0077b6;
    border: 1px solid #f6f5f6;
    border-radius: 10px;
    opacity: 0.8;

}

.play_btn:focus,
.play_btn:hover,
.play_btn:active {
    transition: 1s;
    border: none;
    text-transform: uppercase;
    background: #ffd60a;
    color: #0077b6;
    border: 1px solid #0077b6;
    transform: translateY(-0.25em);
    cursor: pointer;
}

/* MECH IMAGES */
.mech_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
}

.radio-image {
    height: 7rem;
    width: auto;
}